$main-font-family: 'Noto Sans KR', sans-serif;
$price-font-family: 'Tahoma', sans-serif;

$font-size-12px: 12px;
$line-height-12px: 16px;
$letter-spacing-12px: -0.005em;

$font-size-13px: 13px;
$line-height-13px: 20px;
$letter-spacing-13px: -0.001em;

$font-size-14px: 14px;
$line-height-14px: 24px;
$letter-spacing-14px: -0.001em;

$font-size-16px: 16px;
$line-height-16px: 24px;
$letter-spacing-16px: -0.001em;

$font-size-18px: 18px;
$line-height-18px: 28px;
$letter-spacing-18px: -0.002em;

$font-size-24px: 24px;
$line-height-24px: 34px;
$letter-spacing-24px: -0.001em;
