/*
   button과 마찬가지로 width가 아닌 height 고정
   hover 등 상태 존재

   form 테두리와 내부 text와의 칸은 padding으로 조절
   font-weight, color 등은 내부 text의 속성
   apperance는 select 우측의 화살표
   form에 text가 입력되어 있는 상황이 아닌, placeholder 상태로서의 text를 조절하고 싶을 때는 &::placeholder{}를 통해 조정하기(::placeholder{}내부에서 조절 가능한 것은 한정돼 있음)
*/

%form-base {
  @include text-style(16);
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  color: $primary;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out;
  appearance: none;

  &::placeholder {
    color: $tertiary;
  }

  &:not(:disabled):hover {
    background-color: $background;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.form-select,
.form-input {
  @extend %form-base;
  text-overflow: ellipsis;
}

.select-group {
  position: relative;
  /* 위 상태로 select 태그를 유지할 경우, 아이콘을 클릭하면 select 응답 X, 그 이유는 absolute인 아이콘에 비해 select 태그는 static이므로, 아이콘이 select 태그 위에 떠 있는 상태여서 select를 누른 것 이 아님
     - 이를 막기 위해, i 태그에 pointer-events : none 입력 (위 코드는 쉽게 말하면 클릭과 관련이 없는 요소로 만듦, 즉 아이콘을 지나 아래 select가 클릭됨) 
  */

  &.is-active {
    .form-select {
      border: 1px solid $blue;
    }

    .ic-caret {
      color: $blue;
    }

    &:hover {
      background-color: $background;
    }
  }

  &:hover {
    background-color: $background;
  }

  .form-select {
    padding-right: 40px;
  }

  .ic-caret {
    @include pos-center-y;
    right: 8px;
    font-size: 24px;
    color: $tertiary;
    pointer-events: none;
  }
}

.form-input {
  padding-left: 40px;
}

.input-group {
  position: relative;
  .ic-search {
    @include pos-center-y;
    left: 10px;
    color: $secondary;
    size: 20px;
  }
}
